{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Leaderboard{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
  <table class="table friends-table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Nickels</th>
      </tr>
    </thead>
    <tbody>
      {% for member in members %}
      <tr>
        <td><a href="{{ url_for('public.member', member_id=member.id) }}">{{member.name}}</a></td>
        <td>{{member.nickels}}</td>
      </tr>
      {% else %}
      <p>There are no club members yet.</p>
      {% endfor %}
    </tbody>
  </table>


</div>


{% endblock %}
