{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ member.name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Current balance:</h2>
<p>{{ member.nickels}}</p>

<h1>TODO</h1>

<h2>Nickel requests</h2>
<form method="post" action="{{ url_for('public.nickel_request', member_id=member.id) }}">
	<legend>Request nickels</legend>
	<label for="amount">Amount</label>
	<input type="number" name="amount" required>
	<br>
	<label for="Reason">Reason</label>
	<input type="text" name="reason">
	<input type="text" name="request_type" value="debit" hidden readonly>
	<input type="submit">
</form>

<form method="post" action="{{ url_for('public.nickel_request', member_id=member.id) }}">
	<legend>Spend nickels</legend>
	<label for="amount">Amount</label>
	<input type="number" name="amount" required>
	<br>
	<label for="Reason">Reason</label>
	<input type="text" name="reason">
	<input type="text" name="request_type" value="credit" hidden readonly>
	<input type="submit">
</form>
{% endblock %}

