{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ member.name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<h3>{{ member.nickels}} Nickels</h3>
<small>Total earnings: {{member.total_earnings}}</small>

<h2>Nickel requests</h2>

<div class="card card-body mb-2">
  <form method="post" action="{{ url_for('public.nickel_request', member_id=member.id) }}" class="mb-0">
    <legend>Request nickels</legend>
    <div class="mb-2">
      <label for="amount" class="form-label">Amount</label>
      <input type="number" name="amount" class="form-control" required>
    </div>
    <div class="mb-2">
      <label for="reason" class="form-label">Reason</label>
      <textarea name="reason" class="form-control" rows="3"></textarea>
    </div>
    <input type="text" name="request_type" value="debit" hidden readonly>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="card card-body mb-2">
  <form method="post" action="{{ url_for('public.nickel_request', member_id=member.id) }}" class="mb-0">
    <legend>Spend nickels</legend>
    <div class="mb-2">
      <label for="amount" class="form-label">Amount</label>
      <input type="number" name="amount" class="form-control" required>
    </div>
    <div class="mb-2">
      <label for="reason" class="form-label">Reason</label>
      <textarea name="reason" class="form-control" rows="3"></textarea>
    </div>
    <input type="text" name="request_type" value="credit" hidden readonly>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}

