{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Admin{% endblock %}</h1>
{% endblock %}

{% block pagestyle %}
<style>
.friends-table {
	width: 100%;
}
</style>
{% endblock %}

{% block content %}
<div>
	<h3>Members</h3>
	<table class="table friends-table">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Nickels</th>
			</tr>
		</thead>
		<tbody>
			{% for member in members %}
			<tr>
				<td>{{member.name}}</td>
				<td>
					<form action="{{ url_for('admin.member', member_id=member.id) }}" method="POST">
						<input name="nickels" type="number" value="{{member.nickels}}" required>
						<button type="submit" class="btn btn-primary">Set</button>
					</form>
				</td>
			</tr>
			{% else %}
			<p>There are no club members yet.</p>
			{% endfor %}
		</tbody>
	</table>
</div>

<div>
	<h3>Change admin password</h3>
	<form method="POST" action="{{ url_for('admin.admin_password') }}">
		<div class="mb-2">
			<label for="new-password">New password</label>
			<input class="form-control" type="password" name="new-password" id="new-password" required>
		</div>
		<div class="mb-2">
			<label for="confirm-password">Confirm password</label>
			<input class="form-control" type="password" name="confirm-password" id="confirm-password" required>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
{% endblock %}
