{% extends 'admin/admin.html' %}

{% block header %}
<h1>{% block title %}Nickel Requests{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
	{% for request in nickel_requests.items %}
	<div class="card">
		<div class="card-body">
			<h4>
				<em>{{ request.request_type.name.capitalize() }}</em> request from {{request.club_member.name}}
			</h4>
			<p>{{ request.explain() }}</p>
			<p><strong>Reason: </strong>{{request.reason}}</p>
		</div>
	</div>
	{% else %}
	<p>No nickel requests yet</p>
	{% endfor %}
</div>

<div>
	<p>TODO: page buttons</p>
</div>
{% endblock %}
